/* Global Tag */
ul {
    margin:0;
    padding:0;
}
a {
    text-decoration:none;
    color:black;
    /* cursor: wait; */
}
/* My Style, 커스터마이징 */


#wrapper {
    width: 1000px;
    margin: 0 auto;
}
img{
    width: 100%;
}
#header {
    text-align: center;
    font-size: 2rem;
}

#nav ul{
    list-style: none;
}
#nav ul li {
    display: inline-block;
    width:100px;
    text-align: center;
    background-color:#800040 ;
    padding:10px; 
    }
    #nav ul a{
    color:white;
}
#nav ul.menus{
    float: left;
}
#nav ul.icons{
    float: right;
}
#main {
    clear: both;
}
